@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 356 100% 98%;
    --foreground: 18 100% 10%;
    --card: 356 100% 100%;
    --card-foreground: 18 100% 10%;
    --popover: 356 100% 100%;
    --popover-foreground: 18 100% 10%;
    --primary: 358 65% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 4 70% 78%;
    --secondary-foreground: 18 100% 10%;
    --muted: 359 40% 87%;
    --muted-foreground: 358 15% 40%;
    --accent: 41 93% 54%;
    --accent-foreground: 18 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 358 65% 85%;
    --input: 358 65% 88%;
    --ring: 358 65% 65%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 20% 8%;
    --foreground: 359 40% 90%;
    --card: 20 20% 12%;
    --card-foreground: 359 40% 90%;
    --popover: 20 20% 8%;
    --popover-foreground: 359 40% 90%;
    --primary: 358 65% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 41 93% 54%;
    --secondary-foreground: 18 100% 10%;
    --muted: 20 20% 15%;
    --muted-foreground: 358 15% 60%;
    --accent: 4 70% 78%;
    --accent-foreground: 18 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 20% 20%;
    --input: 20 20% 20%;
    --ring: 358 65% 65%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
